<h2 mat-dialog-title>{{data.title}}</h2>
<form [formGroup]="data.formGroup">
  <p *ngFor="let element of data.fields">
    <mat-form-field appearance="legacy">
      <mat-label>{{element.label}}</mat-label>
      <input matInput
        [type]="element.type"
        [formControlName]="element.name"
        [placeholder]="element.placeholder">
    </mat-form-field>
  </p>
</form>

<mat-dialog-actions align="end">
  <button mat-raised-button
    mat-dialog-close color="warn">
    Cancelar
  </button>
  <button mat-raised-button
    [disabled]="data.formGroup.invalid"
    [mat-dialog-close]="true"
    color="primary">
    Aceptar
  </button>
</mat-dialog-actions>