table {
  width: 100%;
}

.message-container {
  height: 4em;
}

.product-container {
  padding: 1.5em;
}

.custom-card {
  margin-bottom: 20px;
}

.error-action-card {
  background-color: #e33e33cc;
}

.success-action-card {
  background-color: #67b4e0ad;
}

.custom-button {
  margin-bottom: 1em;
}

.title-container {
  display: flex;
  justify-content: center;
}