<div class="message-container">
  <mat-card class="custom-card success-action-card"
    *ngIf="messageAcction"
    [ngClass]="{'error-action-card' : !successAction}"
    >
    {{messageAcction}}
  </mat-card>
</div>
<div class="product-container">
  <div class="title-container">
    <h2>LISTADO DE PRODUCTOS TEST ALICORP</h2>
  </div>
  <!-- <button mat-raised-button color="primary"
    class="custom-button"
    (click)="addNewProduct()">
    Crear un nuevo producto
  </button> -->
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef> Código </th>
        <td mat-cell *matCellDef="let element"> {{element.code}} </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Descripción </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="warn"
            class="test"
            (click)="deleteProduct(element.id)">
            Eliminar
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>