<h2 mat-dialog-title>Confirmación</h2>
<mat-dialog-content class="mat-typography">
  <h3>¿Esta seguro que desea eliminar este registro?</h3>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button [mat-dialog-close]="true" color="warn">
    Aceptar
  </button>
</mat-dialog-actions>